* {
	text-align: center;
	color: #333;
}

body {
	padding-top: 30px;
	background-image: url(../img/bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#start {
	z-index: 3;
	padding-top: 40vh;
	position: absolute;
	left: 0;
	right: 0;
}

#puzzle-selection {
	padding-top: 10vh;
	margin-bottom: 30px;
	font-size: 2rem;
	font-weight: 700;
}

.puzzle-card {
	height: 
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	border-color: #dc3545;
}	

#puzzle-window {
	padding-top: 5vh;
}

.number-pad {
	width: 100px;
	height: 100px;
	margin: 10px;
	padding-top: 25px;
	border-style: solid;
	border-radius: 50px;
	border-color: #dc3545;	
}

.number-pad:hover {
	cursor: pointer;
}

.number-pad:hover {
	color: #333;
	background: #dc3545;
}

.answer-pad {
	width: 100px;
	height: 100px;
	margin: 10px;
	padding-top: 25px;
	border-style: solid;
	border-radius: 10px;
	border-color: #dc3545;	
}

.center {
	margin: auto;
}

.hidden {
	opacity: 0;
}

.puzzle-question {
	left: 0;
	right: 0;
	position: absolute;
	text-align: center;
	margin: auto;
}

.hidden-answer {
	padding-top: 30px;
	z-index: -10;
	opacity: 0;
	left: 0;
	right: 0;
	position: absolute;
	text-align: center;
	margin: auto;
	font-size: 1.75rem;
	font-weight: 700;
}

.hidden-puzzle {
	opacity: 0;
}